{% extends "base.html" %}
{% block content %}

    <div class="content">
        <h1>Global climate change </h1>
        <p><strong>What is climate change?</strong> Climate change is the average weather in a place over many years, Climate change is a shift in those average conditions
            The rapid climate change we are now seeing is caused by us humans who are using the majority of the earths natural resources such as oil,
            gas and coal for our everyday life such as powering our homes, factories and transport. So when burning up these fossil fuels they release
            <strong>greenhouse gases which are mostly carbon dioxide (CO2)</strong>. These gases trap the sun's heat and cause the planet's temperature to rise. Over the
            the years the world is now <strong>1.2C warmer than the 19th century</strong> and the amount of <strong> in the atmosphere has risen by 50%.</strong></p>
        <figure>
            <img src="https://www.climate.gov/sites/default/files/styles/full_width_620_original_image/public/2021-07/ClimateDashboard_1400px_20210420_global-surface-temperature-graph_0.jpg?itok=PB_iJiik">

            <figcaption>
                Figure 1: Chart of global average surface temperature
            </figcaption>
        </figure>
        <h2>What is the impact of climate change?</h2>
        <p> Climate change can and has impacted lives of people around the world, due to extreme weather events such as floods have destroyed the livelihood of
         and ruined lives all over the world. With further warming, some regions could become uninhabitable, as farmland turns into desert which is called
            <a href="https://www.bbc.co.uk/bitesize/guides/zpnq6fr/revision/4" class="ssrcss-9nsdc6-InlineLink e1no5rhv0">desertification</a>
          In other regions the opposite is happening, with extreme rainfall causing historic flooding in <strong>Austria, Czech Republic and croatia.</strong>
        </p>.
        <figure>

            <img src="https://bloximages.newyork1.vip.townnews.com/theadvocate.com/content/tncms/assets/v3/editorial/0/aa/0aa6b1fe-0cde-5634-a2bd-bef2ec4d088a/57b108d384215.image.jpg?resize=1200%2C646">

        </figure>
    
        <ul>
            <li><strong>Austria</strong>, on the 17 july a flash flood swept through hallein, which is a town close to the German border,
                <strong>damaging properties, ruining business and suffering casualties</strong> during this flood.</li>
            <li><strong>Czech Republic</strong>, heavy rainfall led to flooding expecially in north bohemia,
                several communities near Česká Lípa had to be exacuated. The country promised <strong>emergency aid (£1900/57900€)</strong> to those who was affected by the flood.</li>
            <li><strong>Croatia</strong>, the Slavonia region was affected by floods, multiply communities
                <strong>Našice, Županja, Nova Gradiška, and Osijek</strong> were flooded
                and <strong>heavy rain caused serious damage</strong>, this affected <strong>farmers heavily as their crops and farms were ruined by the flood</strong>.</li>

        </ul>
        <p>
            <strong>People in poorer countries</strong> will suffer the most as they do not have the money to adapt to climate change.
            Many farms in developing countries already endure climates that are <strong>too hot and this will only get worse</strong>.

        </p>

        <p>
            The dangers of climate change will <strong>affect the wildlife</strong> as well as ours. We have already seen the affects of
            increased global warming <strong>endangering every species of the animal kingdom</strong> on land and the ocean. The wildfires
            and the oceans have been getting warmer.
            The wildfires have become <strong>more frequent than ever due to climate change</strong>, increasing the risk of hotter and dry weathers
            The ocean and its habitat has been under threat, we have <strong>lost over half of its corals since 1995</strong> to the warmer
            seas caused by climate change. As the temperature increases, animals will find it harder to find food and water in order for them to
            survive.
        </p>

        <p>
            Scientists believe at <strong>least 550 species could be lost this century</strong> if we don't change our actions and provide a more sustainable future.
        </p>
        <h2>How will different parts of the world be affected?</h2>
        <p>Climate change has different effects in different areas of the world. some places will warm more than others,
            some will receive more rainfall and others will face more droughts</p>
        <figure>

            <img src="https://i.dailymail.co.uk/1s/2022/01/12/01/52820665-0-image-a-1_1641952008584.jpg">

        </figure>

        <p>
            If temperature rise cannot be kept within 1.5C:
        </p>
        <ul>
            <li>The <strong>UK and Europe</strong> will be vulnerable to flooding caused by extreme rainfall.</li>
            <li>Countries in the <strong>middle east</strong> will experience extreme heatwaves and farmland could turn to desert</li>
            <li>Island nations in <strong>pacific region</strong> could disappear under the rising seas.</li>
            <li>Many <strong>African nations</strong> are likely to suffer droughts and food shortages.</li>
            <li>Drought conditions are likely in the <strong>western US</strong>, while other areas will see intense storms.</li>
            <li><strong>Australia</strong> is likely to suffer extremes of heat and drought.</li>

        </ul>

        <h2>What can we do?</h2>
        <p>
            Major changes need to come from the <strong>governments and businesses</strong> around the world. Countries have agreed to tackle
            this problem together and try to <strong>keep global warming to 1.5C</strong>. There has been plans to
            <strong>reduce Carbon emissions by 2050</strong>.
            Experts say that this is <strong>achievable</strong> and would require the government and individuals to make major changes.

        </p>
        <figure>
            <img src="https://cdn.downtoearth.org.in/library/large/2021-01-28/0.68186900_1611839580_0.jpg">
        </figure>
        <p>
            Even though major changes need to come from governments and business, but scientists say some small changes in our lives
            can <strong>limit our impact on the climate</strong>:
        </p>
        <ul>
            <li>Take fewer flights</li>
            <li>Live car-free or use an electric car</li>
            <li>Buy energy efficient products, such as washing machines, when they need replacing</li>
            <li>Switch from a gas heating system to an electric heat pump</li>
            <li>Insulate your home</li>
        </ul>
        <p>
            I hope this article helped you understand the current world effects of global warming, and inform you about what actions
            you can take to help us create a more sustainable future for centuries to come.
        </p>
    </div>
{% endblock %}