<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Planet Effect</title>
    <link rel="icon" href="../static/Earth.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css">
</head>


<body style="background-color:#eff3f4">
<div class="hero-head has-navbar-fixed-top">
    <nav class="navbar is-transparent is-fixed-top">
      <div class="navbar-brand">
              <a class="navbar-item has-tooltip-bottom" data-tooltip="Click to go home" href="/">

                  <img src="../static/NavbarLogo.png" alt="Planet Effect" width="150" height="28">

              </a>
        <div class="navbar-burger" data-target="navbarA">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarA" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('users.climate_data') }}">
                <span class="icon">
                    <i class="fas fa-globe-americas"></i>
                </span>
                <span>
                    Climate Data
                </span>
            </a>
          {% if current_user.is_authenticated and current_user.role == 'admin' %}
              <a class="navbar-item" href="{{ url_for('admin.admin') }}">
                <span class="icon">
                    <i class="fas fa-user-cog"></i>
                </span>
                <span>
                    Admin Panel
                </span>
              </a>
          {% endif %}
        {% if current_user.is_authenticated %}
            <a class="navbar-item" href="{{ url_for('quiz.quiz_home') }}">
                <span class="icon">
                    <i class="fas fa-trophy"></i>
                </span>
                <span>
                    Quiz
                </span>
            </a>
            <a class="navbar-item" href="{{ url_for('forum.forum') }}">
                <span class="icon">
                    <i class="fas fa-comments"></i>
                </span>
                <span>
                    Forum
                </span>
            </a>

        {% endif %}
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="">
              More
            </a>
            <div class="navbar-dropdown is-boxed">
              <a class="navbar-item" href="">
                Example
              </a>
                <a class="navbar-item" href="">
                Example
              </a>
                <a class="navbar-item" href="">
                Example
              </a>

            </div>
          </div>
        </div>

        <div class="navbar-end">

            <div class="navbar-item">
            <div class="field is-grouped">
              {% if current_user.is_authenticated %}

              <p class="control">
                <a class="button" href="{{ url_for('faq.faq') }}">
                  <span class="icon">
                    <i class="fas fa-question-circle"></i>
                  </span>
                  <span>
                    FAQ
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button" href="{{ url_for('users.account') }}">
                  <span class="icon">
                    <i class="fas fa-user"></i>
                  </span>
                  <span>
                    Account
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-light is-danger" href="{{ url_for('users.logout') }}">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                    <span>Log out</span>
                </a>
              </p>
            </div>
              {% endif %}
              {% if not current_user.is_authenticated %}
              <div class="field is-grouped">
              <p class="control">
                <a class="button" href="{{ url_for('users.login') }}">
                  <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>
                    Log in
                  </span>
                </a>
              </p>
              <p class="control">
                <a class="button is-primary" href="{{ url_for('users.register') }}">
                  <span class="icon">
                    <i class="fas fa-user-plus"></i>
                  </span>
                  <span>Register</span>
                </a>
              </p>
            </div>
              {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <br><br><br>
    {% if not current_user.is_authenticated and request.path != "/" and request.path != "/login" and request.path != "/register" %}
        <div class="container">
            <div class="notification is-primary">
          <p class="has-text-centered">
            Please <a href={{ url_for('users.login') }}>log in</a> to gain access to the full site!
          </p>
        </div>
        </div>
    {% endif %}


    <script src="../static/nav.js"></script>
    <section class="hero is-fullheight">
        <div class="hero-body is-fullheight">
            <div class="container has-text-centered is-fullheight">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>

    <footer class="footer pb-0">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <span class="has-tooltip-arrow" data-tooltip="GitHub Repo"><a href="https://github.com/Ellie-UK/climate-action-app"><i class="fab fa-github" style="color:black" aria-hidden="true"></i></a></span>
            <span class="has-tooltip-arrow" data-tooltip="Email Us"><a href="mailto:noreply.planeteffect@gmail.com"><i class="fas fa-envelope" style="color:black" aria-hidden="true"></i></a></span>
          </div>
          <p>
              <strong>Planet Effect</strong>™ by <strong>Team 11</strong>.<br>
              The source  code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
          </p>
        </div>
      </div>
    </footer>
</div>
</body>
</html>