{% extends "base.html" %}

{% block content %}

    <body>
        <div>
            <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Planet_Effect/5.embed?link=false" height="525" width="100%"></iframe>
        </div>
        <div>
            <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Planet_Effect/12.embed?link=false" height="525" width="100%"></iframe>
        </div>
        <div>
            <iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src="https://plotly.com/~Planet_Effect/14.embed?link=false" height="525" width="100%"></iframe>
        </div>
    </body>

{% endblock %}