{% extends "base.html" %}

{% block content %}

    <div class="column is-6 is-offset-3">
        <h3 class="title is-3">Answer a question</h3>
        <div class="box">
            <form method="POST">
                <h4 class="subtitle is-5">Question: {{ form.original_question }}</h4>
                <div class="field">
                    {{ form.csrf_token() }}
                    <div class="control">
                        {{ form.question(class="input", placeholder="Better formulated question") }}
                        {% for error in form.question.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        {{ form.answer(class="textarea", placeholder="Answer to question") }}
                        {% for error in form.answer.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
            </form>
        </div>
    </div>

{% endblock %}
