{% extends "base.html" %}

{% block content %}

    <body>
    <section class="block hero is-medium" style="padding: 80px;">

    <div>
        <div class="block is-half">
        <img src="../static/Logo.png" alt="Planet Effect" height="325" width="489">
        </div>
        <div class="block">
        <h1 class="title">
                {% if current_user.is_authenticated %}
                    Welcome to the <b>Planet Effect</b> website, {{ current_user.firstname }}!
                {% else %}
                    Welcome to the <b>Planet Effect</b> website!<br>Please
                    <a href="{{ url_for('users.login') }}">log in</a> to gain access to the full site.
                {% endif %}
        </h1>
        </div>
    </div>
    </section>

    <hr style="border-top: 2px solid #dfe2e3">

    <section class="block">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box is-half">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="content">
                                <h2>An intro to <strong>Climate Action</strong>!</h2>
                                <p>Our goal at planet effect is to give an introduction to climate change and climate action.</p>
                                <p>Climate change is affecting every country on the planet and affecting all of our lives.
                                    <strong>We must act now
                                to prevent permanent damage</strong>.</p>

                                <p>
                                    Want to get started?  <a href="../static/get-started.pdf">Click here</a> to view a guide to getting started on taking action to save the planet!
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <hr style="border-top: 2px solid #dfe2e3">

    <section class="block">
        <h1 class="title">Planet Effect Articles</h1>
        <h2 class="subtitle">Want to learn a little more? Take a look at some of our articles!</h2>
        <br>

      <div class="columns features">
        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://res.cloudinary.com/ameo/image/upload/v1568711475/pexels-photo-1302883_fjje0f.jpg" alt="Image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2>Global Warming</h2>
                <p>What is global warming? In this article we will answer all you need to help you gain a deeper
                    understanding of this global issue.</p>
                  <a class="button is-primary" href="{{ url_for('users.what_is_climate_change') }}">Read more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://static01.nyt.com/images/2020/01/31/climate/31cli-newsletter/28cli-newsletter-donations-superJumbo.jpg" alt="Image" class="modal-button" data-target="modal-image2">
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h2>Climate Charities</h2>
                <p>Looking to donate to a charity to combat climate change but not sure where to look?
                This may be the article for you.</p>
                  <a class="button is-primary" href="{{ url_for('users.charities') }}">Read more</a>
              </div>
            </div>
          </div>
        </div>

        <div class="column is-4">
              <div class="card">
                <div class="card-image">
                  <figure class="image is-4by3">
                    <img src="https://cdn.mos.cms.futurecdn.net/N2Pv5eJc4mMwe6oeRpx37n.jpg" alt="Image" class="modal-button" data-target="modal-image2">
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <h2>Climate Change - Is It Real?</h2>
                    <p>Is climate change real? Some may have their doubts. This article should give you a bit more info about
                     the evidence that climate change is real.</p>
                      <a class="button is-primary" href="{{ url_for('users.is_it_real') }}">Read more</a>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </section>
    </body>

{% endblock %}