{% extends "base.html" %}

{% block content %}

    <body>
      <section class="container">
          <div class="columns">
              <div class="column is-2 is-offset-5">
                <figure class="image is3by2">
                     <img src="../static/Logo.png">
                </figure>
              </div>
          </div>

        <div class="container">
          <h1 class="title">
            Hello World
          </h1>
          <p class="subtitle">
            My first website with <strong>Bulma</strong>!
          </p>
        </div>
      </section>
    </body>

{% endblock %}