{% extends "base.html" %}

{% block content %}
    <div class="columns is-vcentered is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}. Go to <a href="{{ url_for('users.login') }}">login page</a>.
                    </div>
                {% endif %}
            {% endwith %}
                <form method="post">
                    <div class="box">

                    <div class="field">
                        <label for="" class="label">Email</label>
                        <div class="control has-icons-left">
                            {{ form.email(class="input", placeholder="bob@email.com", disabled=isDisabled) }}
                            {% for error in form.email.errors %}
                                {{ error }}
                            {% endfor %}
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="" class="label">Password</label>
                        <div class="control has-icons-left">
                            {{ form.password(class="input", placeholder="********", disabled=isDisabled) }}
                            {% for error in form.password.errors %}
                                {{ error }}
                            {% endfor %}
                            <span class="icon is-small is-left">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        <label for="" class="label">PIN</label>
                        <div class="control has-icons-left">
                            {{ form.pin(class="input", placeholder="Time-Based PIN", disabled=isDisabled) }}
                            {% for error in form.pin.errors %}
                                {{ error }}
                            {% endfor %}
                            <span class="icon is-small is-left">
                                <i class="fa fa-key"></i>
                            </span>
                        </div>
                    </div>

                    <div class="field">
                        {{ form.submit(class="button is-info is-centered", disabled=isDisabled) }}
                    </div>

                    </div>
                    <style>
                        div.g-recaptcha {
                          margin: 0 auto;
                          width: 304px;
                        }
                    </style>
                    <div class="block">
                            {{ form.recaptcha }}
                            {% for error in form.recaptcha.errors %}
                                {{ error }}
                            {% endfor %}
                    </div>

                </form>
            <br>
                <a class="button is-warning is-centered" href="{{ url_for('users.reset_request') }}">
                  <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                  </span>
                  <span>
                    Forgot Password
                  </span>
                </a>
        </div>
    </div>
{% endblock %}