{% extends "base.html" %}

{% block content %}
    <div class="columns is-vcentered is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
            {% endwith %}
            <div class="block">
                <h2>If you have an account with us, please enter your email below to send a link to reset your password.</h2>
            </div>
            <form method="post" class="box">

                <div class="field">
                    {{ form.csrf_token() }}
                    <label for="" class="label">Email</label>
                    <div class="control has-icons-left">
                        {{ form.email(class="input", placeholder="bob@email.com") }}
                        {% for error in form.email.errors %}
                            {{ error }}
                        {% endfor %}
                        <span class="icon is-small is-left">
                            <i class="fa fa-envelope"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    {{ form.submit(class="button is-info is-centered") }}
                </div>
            </form>
            <div class="notification is-danger is-vcentered">
                If you do not see the email,<br>please check your junk/spam folder
            </div>
        </div>
    </div>
{% endblock %}
